*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

.header{
    margin: 10px 10px;    
}

.titolo{
    font-size: 35px;
    display: inline;
    vertical-align: top;
    line-height: 1.6;
}

.container{
    width: 100%;
    background-color: rgb(235, 232, 232);
    padding-top: 30px;
    padding-bottom: 10px;
}

.container-center{
    width: 60%;
    margin:auto;
    border-radius: 5px;
    background-color: white;  
}

.center{
    padding: 15px 0 10px 50px;
}

.button{
    border: 2px solid lightgray;
    border-radius: 5px;
    padding: 5px;
}

.first{
    background-color: lightskyblue;
    color: white;   
}

.second{
    background-color: white;
    color: gray;
}

hr{
    color: rgb(235, 232, 232);
    margin-top: 20px;
}

